@page
@model IndexModel
@inject IHtmlLocalizer<IndexModel> htmlLocalizer
@inject IStringLocalizer<IndexModel> Localizer
@{
    ViewData["Title"] = "Home page";
    //string userLang = Request.Headers["Accept-Language"].ToString();
}


<div class="text-center">
    <h1 class="display-4">@Localizer["Hello"]</h1>
    <p>@Localizer["Welcom to our ASP.NET Core web application!"]</p>
</div>