@page
@model ForgotPasswordConfirmation
@inject IHtmlLocalizer<ForgotPasswordModel> htmlLocalizer
@inject IStringLocalizer<ForgotPasswordModel> Localizer

<div class="container">
<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Please check your email to reset your password."]
</p>
</div>